* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0px auto;
}

.hero {
    background: url(../img/content/hero-bg.jpg) no-repeat center/cover;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    height: 42px;
    width: 52px;
}

.logo__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 28px;
}

.nav__item:last-child {
    margin: 0;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.btn {
    padding: 15px 36px;
    background: #F6762C;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.hero__content {
    max-width: 49%;
    padding-top: 186px;
}

.hero__main {}

.hero__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.title {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.18;
}

.hero__title {
    margin-bottom: 25px;
}

.hero__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 42px;
}